<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
        <form [formGroup]="userProfileForm" (ngSubmit)="saveProfile(userProfileForm.value)" autocomplete="off" novalidate>
        <div class="form-group">
            <label for="fullname">Full Name:</label>
            <input formControlName="fullname" id="fullname" type="text" class="form-control" placeholder="Full Name..." />
        </div>
        <div class="form-group">
            <label for="username">User Name:</label>
            <input formControlName="username" id="username" type="text" class="form-control" placeholder="User Name..." />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email Address..." />
        </div>

        <div class="form-group">
            <label for="id">ID:</label>
            <input formControlName="id" id="id" type="number" class="form-control" placeholder="id" />
        </div>
    
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>