<app-navi-bar></app-navi-bar>

<div class="row expanded">
  <!-- <img class="hero" src="{{homeImageUrl}}"> -->
  
  <div *ngIf="loggedIn;then content else signin">ignored</div>
  <ng-template #content>
      <div class="col-md-6 col-md-offset-3">
          <h1>Hi {{currentUser.email}}!</h1>
          <p>You're logged in with the MEAN Stack & Angular 2!!</p>
          <h3>All registered users:</h3>
          <ul>
              <li *ngFor="let user of users">
                  {{user.email}} ({{user.firstName}} {{user.lastName}})
                  - <a (click)="deleteUser(user._id)">Delete</a>
              </li>
          </ul>
          <p><a [routerLink]="['/login']">Logout</a></p>
      </div>
  </ng-template>
  <ng-template #signin>
      <app-sign-up></app-sign-up>
  </ng-template>
  
</div>


