<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 valign">
            <div class="card darken-1">
                <div class="card-content">
                  <form class="col s12 white" #addProjectForm="ngForm" (ngSubmit)="OnSubmit(addProjectForm)">
                      <div class="row input-field">
                        <label for="projectname" data-error="project name is required!">Project Name</label>
                        <input type="text" name="projectname" #projectname="ngModel" [(ngModel)]="project.projectname">
                      </div>
                      <div class="row input-field">
                        <label for="description">Project Description</label>
                        <textarea id="textarea2" class="materialize-textarea" data-length="500" 
                          name="description" #description="ngModel" [(ngModel)]="project.description"></textarea>
                      </div>
                      <!-- <div class="row input-field">
                        <label for="start">Project Start</label>
                        <input type="date" class="datepicker" name="start" #start="ngModel" [(ngModel)]="project.start">
                      </div> -->
                      
                        <mat-form-field>
                            <input matInput [matDatepicker]="mypicker" placeholder="Project Start" name="start" #start="ngModel" [(ngModel)]="project.start">
                            <mat-datepicker-toggle matSuffix [for]="mypicker"></mat-datepicker-toggle>
                            <mat-datepicker #mypicker></mat-datepicker>
                        </mat-form-field>
                      

                      <div class="row">
                        <div class="input-field col s12">
                          <button [disabled]="!addProjectForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
                        </div>
                      </div>
                  </form>


            Angular: {{ addProjectForm.value | json }}
            {{diagnostic}}
            
        </div>
      </div>
    </div>
  </div>
</div>

<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
